//sass --watch sass/main.scss:css/main.min.css --style compressed
@import "./utils/_variables.scss";
@import "./utils/_mixin.scss";
@import "./components/_minor-normalize.scss";
@import "./components/_logo.scss";
@import "./components/_header.scss";
@import "./components/_header-nav.scss";
@import "./components/_header-contacts.scss";
@import "./components/_container.scss";
@import "./components/_mainimage-section.scss";
@import "./components/_our-benefits-section.scss";
@import "./components/_what-we-do-section.scss";
@import "./components/_our-team-section.scss";
@import "./components/_social-icons.scss";
@import "./components/_our-clients-section.scss";
@import "./components/_footer.scss";
@import "./components/_visually-hidden.scss";
@import "./components/_submit-button.scss";
@import "./components/_footer-form.scss";
@import "./components/_modal.scss";
@import "./components/_portfolio-section-nav.scss";
@import "./components/_portfolio-section.scss";
@import "./components/_potrfolio-card.scss";
