.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: $input-text-color;
    text-indent: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
    & .input-group {
      flex-direction: row;
      input {
        max-width: 358px;
        height: 50px;
        margin-bottom: 0px;
        margin-right: 12px;
      }
    }
  }
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: $white-color;
  margin-left: 10px;
}
