.logo {
  color: $main-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  flex-shrink: 0;

  & > span {
    color: $black-color;
  }
  & > .inverse {
    color: $white-color;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

header .logo {
  position: relative;
  z-index: 10000;
}
