.mainimage {
  background-image: linear-gradient($overlay-color, $overlay-color),
    url("../img/Header-img-condensed@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  h1 {
    color: $white-color;
    font-family: $main-font;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 650px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mainimage {
    background-position: center, center -120px;
    height: 600px;
    & h1 {
      font-size: 44px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .mainimage {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url("../img/Header-img-condensed@2x.jpg");
  }
}
