@include Cardset-Adaptive-480-768-1200(".portfolio-list", 1px, 15px, 15px, 1);

@include Cardset-Adaptive-480-768-1200(".portfolio-list", 768px, 15px, 15px, 2);

@include Cardset-Adaptive-480-768-1200(
  ".portfolio-list",
  1200px,
  15px,
  15px,
  3
);
