@function Margin-in-row($margin, $cols) {
  $result: $margin * ($cols - 1);
  @return $result;
}
@mixin Cardset-Adaptive-480-768-1200(
  $ClassName,
  $ScreenWidth,
  $Margin-right,
  $Margin-bottom,
  $Columns
) {
  $margin-in-row: Margin-in-row($Margin-right, $Columns);
  @if ($ScreenWidth < 1200 and $ScreenWidth > 767) {
    @media screen and (min-width: #{$ScreenWidth}), (orientation: landscape) {
      #{$ClassName} {
        display: flex;
        flex-wrap: wrap;
        & > li {
          width: calc((100% - #{$margin-in-row}) / #{$Columns});
          &:nth-child(n) {
            margin-right: $Margin-right;
            margin-bottom: $Margin-bottom;
          }
          &:nth-child(#{$Columns}n) {
            margin-right: 0px;
          }
          &:nth-last-child(-n + #{$Columns}) {
            margin-bottom: 0px;
          }
        }
      }
    }
  } @else {
    @if ($ScreenWidth > 0) {
      @media screen and (min-width: #{$ScreenWidth}) {
        #{$ClassName} {
          display: flex;
          flex-wrap: wrap;
          & > li {
            width: calc((100% - #{$margin-in-row}) / #{$Columns});
            &:nth-child(n) {
              margin-right: $Margin-right;
              margin-bottom: $Margin-bottom;
            }
            &:nth-child(#{$Columns}n) {
              margin-right: 0px;
            }
            &:nth-last-child(-n + #{$Columns}) {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
