$main-color: #2196f3;
$black-color: #000000;
$icon-black-color: #282828;
$white-color: #ffffff;
$text-color: #757575;
$title-color: #212121;
$social-icon-color: #afb1b8;
$ckeckbox-border-color: #212121;
$overlay-color: rgba(47, 48, 58, 0.8);
$social-bg-color: rgba(255, 255, 255, 0.1);
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$hover-text-bg-color: rgba(33, 150, 243, 0.9);
$input-border-color: rgba(33, 33, 33, 0.2);
$input-text-color: rgba(255, 255, 255, 0.6);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$close-button-border-color: rgba(0, 0, 0, 0.1);
$transition-fuction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$logo-font: "Raleway", sans-serif;
$main-font: "Roboto", sans-serif;
